@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* share styles */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.container{
    max-width: 1600px;
    margin: 0px auto;
}
.flex{
    display: flex;
}
.color-primary{
    color: rgba(255, 255, 255, 1);
}
.btn-primary{
    color: rgba(255, 255, 255, 1);
    background: linear-gradient( 47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}
.color-rgb{
    background: linear-gradient( 47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.caption{
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 10px;
}
.text-center{
    text-align: center;
}
.caption-2{
    font-size: 1.5rem;
    font-weight: 700;
}

p{
    color: rgba(255, 255, 255, 1);
}
a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
li{
    list-style: none;
}
iframe{
    border-radius: 34px 34px 0px 0px;
}

/* headeer section */
.nav-bg{
    background-color: rgba(26, 11, 46, 1);
}
nav{
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
}

nav ul {
    gap: 30px;
}


nav button{
    width: 135px;
    height: 44px;
    border-radius: 10000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 12px 16px 12px 16px;
}

header section{
    background-image: url(./asset/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0px;
}
.hero-img{
    position: relative;
    padding-bottom: 40px;
}
.hero-img-2{
    position: absolute;
    top: 22%;
    left: 33.5%;
}
.hero-img-3{
    position: absolute;
    top: 0px;
    right: -20px;
    /* animation */
    animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    }
    @keyframes pulse{
        0%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.5);
        }
        100%{
            transform: scale(1);
        }
    }

.hero-caption{
    padding-bottom: 40px;
}
header section h1{
    font-size: 4rem;
    font-weight: 800;
    gap: 8px;
}

.hero-btn{
    gap: 8px;
}

.hero-btn-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px 12px 20px;
    border-radius: 10000px;
}
.hero-btn-2{
    color: #00FF88;
    border: 1px solid rgba(0, 255, 136, 1);
    border-radius: 10000px;
    width: 147px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px 12px 20px;
    background: transparent;
}

/* main section */
.about{
    background-color: rgba(26, 11, 46, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 50px 200px 120px 200px;
}
main section h2{
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 15px;
}
.list-item{
    display: flex;
}
main section ul h2{
    color: rgba(0, 255, 136, 1);
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 20px;

}
main section ul{
    padding-top: 80px;
    gap: 80px;
}

/* why choose setion */
.choose{
    background: rgba(35, 14, 61, 1);
    padding: 120px 200px 120px 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
main .grid-container h2{
    font-size: 1.5rem;
    font-weight: 700;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.grid-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    }
.audio{
    grid-column: span 1;
    grid-row: span 2;
}
.mobile{
    grid-column: span 2;
    grid-row: span 1;

}
.global{
    grid-column: span 2;
    grid-row: span 1;

}
.interviews{
    grid-column: span 2;
    grid-row: span 1;
}
.reasourse{
    grid-column: span 1;
    grid-row: span 1;
}

.featured{
    background: rgba(26, 11, 46, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 120px 200px 120px 200px;

}
.featured-item{
    gap: 30px;
}
.featured-card{
    border-radius: 24px 24px 0px 0px;
}
.ft-card-item{
    gap: 12px;
    padding: 24px;
    border-radius: 0px 0px 24px 24px;
    background: rgba(37, 13, 68, 1);
    display: flex;
    flex-direction: column;
}
.time{
    color: #00FF88;
    gap: 6px;
}
.featured-container,
.host{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.host-container{
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    gap: 24px;

}
.host-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}
.icon{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.icon-image{
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid rgb(109, 89, 137);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-image:hover{
    transform: scale(1.5);
    z-index: 3;
    transition: 0.5s;
    background: #05b5ea;
}
footer section{
    background-image: url(./asset/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.copy-right{
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.6;
}
.ft-icon{
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.ft-icon-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.display{
    display: none;
}
/* Responsive design */

/* for small device */
@media screen and (max-width:576px) {

    /* share styles */
    .container{
        max-width: 576px;
        margin: 0px auto;
    }
    h1{
        font-size: 2.5rem;
    }
    p{
        font-size: 1rem;
    }
    /* header */
    nav ul,
    nav a,
    nav li,
    nav button{
        position: absolute;
        display: none;
    }
    nav{
        position: relative;
        padding: 0px 20px;
        text-align: center;
    }
    nav h1{
        font-size: 2.5rem;
        font-weight: 800;
    }
    
    header section{
        background-image: url(./asset/hero-bg-sm.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        gap: 0px;
        padding: 40px 20px;
        background-repeat: repeat;
    }
    .hero-img{
        padding: 20px 0px;
    } 
    .hero-caption{
        padding-bottom: 24px;
    }
    .hero-img-1{
        height: 200px;
        width: 200px;
    }
    .hero-img-2{
        height: 80px;
        width: 80px;
        top: 32%;
        left: 30.5%;
    }
    .hero-img-3{
        width: 70px;
        height: 35px;
        top: 0px;
        right: 0px;
    }
    .hero-btn{
        flex-wrap: wrap;
    }

    /* .hero-btn-1{
        width: 201px;
        height: 44px;
    }
    .hero-btn-2{
        width: 147px;
        height: 44px;
     } */

     /* main section */
     .about,
     .choose,
     .featured,
     .host-container,
     footer section{
        padding: 40px 20px;

     }
     .list-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 10px;
        gap: 40px;
        }
    /* choose section */
        
        .grid-container,
        .featured-item{
            display: flex;
            flex-direction: column;
        }
        .grid-card{
            padding:20px;
        }
        .featured{
            gap: 60px;
        }
    /* host section */
    .host-container,
    .host-item{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    /* footer section */
    footer section{
        background-image: url(./asset/footer-bg-sm.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .ft-icon{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .ft-icon{
       padding: 0px 50px;
        gap: 16px;
    }
    
}

/* for medium device */
@media screen and (min-width:576px) and (max-width:992px) {
        .hamburger-menu{
        display: none;
    }
    nav,
    .about,
    .choose,
    .featured{
        padding: 20px 50px;
    }
    main section ul{ 
        padding: 20px 0px;
    }
    .grid-container,
    .featured-item{
       display: flex;
       flex-direction: column;
       text-align: start;
    }
    .featured{
        gap: 60px;
 }
    
}


/* for large device */

@media screen and (min-width:992px) {
    .hamburger-menu{
        display: none;
    }
    
}