@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* share styles */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.container{
    max-width: 1600px;
    margin: 0px auto;
}
.flex{
    display: flex;
}
.color-primary{
    color: rgba(255, 255, 255, 1);
}
.btn-primary{
    color: rgba(255, 255, 255, 1);
    background: linear-gradient( 47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}
.color-rgb{
    background: linear-gradient( 47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
li{
    list-style: none;
}

/* headeer section */
.nav-bg{
    background-color: rgba(26, 11, 46, 1);
}
nav{
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
}

nav ul {
    gap: 30px;
}


nav button{
    width: 135px;
    height: 44px;
    border-radius: 10000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 12px 16px 12px 16px;
}

header section{
    max-width: 1600px;
    height: 760px;
    background-image: url(./asset/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}
.hero-img{
    position: relative;
}
.hero-img-2{
    position: absolute;
    top: 22%;
    left: 33.5%;
}
.hero-img-3{
    position: absolute;
    top: 0px;
    right: -20px;
}

header section h1{
    font-size: 4rem;
    font-weight: 800;
    gap: 8px;
}

.hero-btn{
    gap: 8px;
}

.hero-btn-1{
    width: 201px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px 12px 20px;
    border-radius: 10000px;
}
.hero-btn-2{
    color: #00FF88;
    border: 1px solid rgba(0, 255, 136, 1);
    border-radius: 10000px;
    width: 147px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px 12px 20px;
    background: transparent;
    
}




















/* Responsive design */

/* for small device */
@media screen and (max-width:576px) {
    nav ul,
    nav li,
    nav button{
        position: absolute;
        display: none;
    }
    nav{
        position: relative;
        padding: 0px 20px;
        text-align: center;
    }
    nav h1{
        font-size: 2.5rem;
        font-weight: 800;
    }
    header section{
        padding: 0px 20px;
    }
}




/* for large device */

@media screen and (min-width:992px) {
    .hamburger-menu{
        display: none;
    }
    
}